@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    const onRegister = (tId) => {
        const form = document.getElementById("tournament-form")
        const input = document.getElementById("tournament-input")

        input.value= tId
        form.submit()
    }
</script>
@if (User.Identity!.IsAuthenticated)
{
    if (!string.IsNullOrEmpty(Model.Error))
    {
        <p class="tournament-error-box">@Model.Error</p>
    }

    <table>
        <tr>
            <th>Description</th>
            <th>Location</th>
            <th>Starting date</th>
            <th>Ending date</th>
            <th>Sport</th>
            <th>Min Players</th>
            <th>Max Players</th>
            <th>System</th>
        </tr>
        <form id="tournament-form" method="post">
            <input id="tournament-input" type="hidden" asp-for="TournamentId" />
            @foreach (var t in Model.TournamentBases)
            {
            <tr>
                <td>@t.Description</td>
                <td>@t.Location</td>
                <td>@t.StartingDate.ToString("dddd, dd MMMM yyyy")</td>
                <td>@t.EndingDate.ToString("dddd, dd MMMM yyyy")</td>
                <td>@t.Sport.Name</td>
                <td>@t.Sport.MinPlayersCount</td>
                <td>@t.Sport.MaxPlayersCount</td>
                <td>@t.TournamentSystem.GetType().Name</td>
                <td><button onclick="onRegister(@t.Id)">register</button></td>
                <td><a asp-Page="Tournament" asp-route-TournamentId="@t.Id">view</a></td>
            </tr>
            }
        </form>
    </table>
}
