@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (User.Identity!.IsAuthenticated)
{
    <table>
        <tr>
            <th>Description</th>
            <th>Location</th>
            <th>Starting date</th>
            <th>Ending date</th>
            <th>Sport</th>
            <th>Min Players</th>
            <th>Max Players</th>
            <th>System</th>
        </tr>
        @foreach (var t in Model.TournamentBases)
        {
            <tr>
                <td>@t.Description</td>
                <td>@t.Location</td>
                <td>@t.StartingDate</td>
                <td>@t.EndingDate</td>
                <td>@t.Sport.Name</td>
                <td>@t.Sport.MinPlayersCount</td>
                <td>@t.Sport.MaxPlayersCount</td>
                <td>@t.TournamentSystem.GetType().Name</td>
                <td><button>register</button></td>
            </tr>
        }
    </table>
}
